@model UsuarioModel

@{
    ViewData["Title"] = "Deletar usuário";
}

<div class="text-center">
    <h1>Realmente deseja deletar o usuário @Model.Name?</h1>
    <br/>
    <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Delete">Deletar</a>
    <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
</div>